<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!--HOJA DE ESTILO-->
    <link href="/css/styles.css" rel="stylesheet">
    <!--ICONOS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    rel="stylesheet" />
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    rel="stylesheet">
    <!-- GOOGLE FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--FUENTES-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    
</head>
<body>
    <!--HEADER-->
    <%- include('./partials/header.ejs')  %> 
    <section class="banner">
        <img src="/images/banner.PNG" alt="">
    </section>
    <!-- MAIN -->
    <main>
        <h2>LAS MEJORES OFERTAS PARA VOS</h2>
        <section class="ofertas">
            <div class="ofertas-parte1">
                <article class="tarjeta">
                    <img src="/images/descuentoPileta.PNG" alt="" class="img-oferta">
                </article>
                <article class="tarjeta">
                    <img src="/images/descuentoJardineria.PNG" alt="" class="img-oferta">
                </article>
            </div>
            <article class="tarjeta-vertical">
                <img src="/images/PintuteriaVertical.PNG" alt="" class="img-oferta-vertical">
            </article>
            <div class="ofertas-parte2">
                <article class="tarjeta">
                    <a href="/products">
                        <img src="/images/descuentoHerramientas.PNG" alt="" class="img-oferta">
                    </a>
                </article>
                <article class="tarjeta">
                    <img src="/images/descuentoGriferia.PNG" alt="" class="img-oferta">
                </article>
            </div>
        </section>
    </main>
<!-- SUSCRIPCION + FOOTER + COPIRIGHT-->
<%- include('./partials/footer.ejs')  %> 
