<!DOCTYPE html>
<html lang="en">
<!--HEAD-->
<%- include('./partials/head.ejs')  %> 
    <title>Registro</title>
    <!--HOJA DE ESTILO-->
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/form.css" rel="stylesheet">
</head>
<body>
    <!--HEADER-->
    <%- include('./partials/header.ejs')  %> 
    <!--MAIN -->
    <main class="register">
        <form action="/register" method="POST" class="form-register" id="form-register" enctype="multipart/form-data">
            <h1 class="login">REGISTRO</h1>
            <div class="div-form-register">
                <!-- NOMBRE Y APELLIDO -->
                <div class="group-register">
                    <input required type="text" class="input-text" id="name"><span class="barra"></span>
                    <label for="name" class="lbl-text">Nombre y Apellido</label>
                </div>

                <!-- DIRECCION -->
                <div class="group-register">
                    <input required type="text" class="input-text" id="address"><span class="barra"></span>
                    <label for="address" class="lbl-text">Direccion</label>
                </div>
                <div class="group-register">
                    <input required type="text" class="input-text" id="address-l"><span class="barra"></span>
                    <label for="address-l" class="lbl-text">Localidad</label>
                </div>
                <div class="group-register">
                    <input required type="text" class="input-text" id="address-2"><span class="barra"></span>
                    <label for="address" class="lbl-text">Pais</label>
                </div>

                <!-- EDAD -->
                <div class="group-register">
                    <input required type="number" class="input-text" id="date"><span class="barra"></span>
                    <label for="date" class="lbl-text">Edad</label>
                </div>

                <!-- CORREO ELECTRONICO -->
                <div class="group-register">
                    <input required type="email" class="input-text" id="mail"><span class="barra"></span>
                    <label for="mail" class="lbl-text">Correo Electronico</label>
                </div>

                <!-- USUARIO -->
                <div class="group-register">
                    <input required type="text" class="input-text" id="username"><span class="barra"></span>
                    <label for="username" class="lbl-text">Nombre de Usuario</label>
                </div>

                <!-- CONTRASENA -->
                <div class="group-register">
                    <input required type="password" class="input-text" id="password" name="password"><span class="barra"></span>
                    <label for="password" class="lbl-text">Contraseña</label>
                </div>

                <!-- CONFIRMAR CONTRASENA -->
                <div class="group-register">
                    <input required type="password" class="input-text" id="password2" name="password2"><span class="barra"></span>
                    <label for="password" class="lbl-text">Repetir Contraseña</label>
                </div>

                <button type="submit">a</button>
                <p class="login"><a href="/login">¿Ya estás registrado? Inicia seción acá!</a></p>
            </div>
        </form>
    </main>
<!-- SUSCRIPCION + FOOTER + COPIRIGHT-->
<%- include('./partials/footer.ejs')  %>