<!DOCTYPE html>
<html lang="en">
<!--HEAD-->
<%- include('./partials/head.ejs')  %> 
    <title>Registro</title>
    <!--HOJA DE ESTILO-->
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/form.css" rel="stylesheet">
</head>
<body>
    <!--HEADER-->
    <%- include('./partials/header.ejs')  %> 
    <!--MAIN -->
    <main class="register">
        <form action="#" method="POST" class="form-register" id="form-register">
            <h1 class="login">REGISTRO</h1>
            <div class="div-form-register">
                <!-- NOMBRE -->
                <div class="group-register" id="div1">
                    <input required type="text" class="input-text" id="nombre"><span class="barra"></span>
                    <label for="nombre" class="lbl-text">Nombre</label>
                </div>

                <!-- APELLIDO -->
                <div class="group-register" id="div2">
                    <input required type="text" class="input-text" id="apellido"><span class="barra"></span>
                    <label for="apellido" class="lbl-text">Apellido</label>
                </div>

                <!-- DIRECCION -->
                <div class="group-register" id="div3">
                    <input required type="text" class="input-text" id="direccion"><span class="barra"></span>
                    <label for="direccion" class="lbl-text">Direccion</label>
                </div>
                <div class="group-register" id="div4">
                    <input required type="text" class="input-text" id="localidad"><span class="barra"></span>
                    <label for="localidad" class="lbl-text">Localidad</label>
                </div>
                <div class="group-register" id="div5">
                    <input required type="text" class="input-text" id="pais"><span class="barra"></span>
                    <label for="pais" class="lbl-text">Pais</label>
                </div>

                <!-- EDAD -->
                <div class="group-register" id="div6">
                    <input required type="number" class="input-text" id="edad"><span class="barra"></span>
                    <label for="edad" class="lbl-text">Edad</label>
                </div>

                <!-- CORREO ELECTRONICO -->
                <div class="group-register" id="div7">
                    <input required type="email" class="input-text" id="mail"><span class="barra"></span>
                    <label for="mail" class="lbl-text">Correo Electronico</label>
                </div>

                <!-- USUARIO -->
                <div class="group-register" id="div8">
                    <input required type="text" class="input-text" id="usuario"><span class="barra"></span>
                    <label for="usuario" class="lbl-text">Nombre de Usuario</label>
                </div>

                <!-- CONTRASENA -->
                <div class="group-register" id="div9">
                    <input required type="password" class="input-text" id="contraseña" name="contraseña"><span class="barra"></span>
                    <label for="contraseña" class="lbl-text">Contraseña</label>
                </div>

                <!-- CONFIRMAR CONTRASENA -->
                <div class="group-register" id="div10">
                    <input required type="password" class="input-text" id="repetirContraseña" name="repetirContraseña"><span class="barra"></span>
                    <label for="repetirContraseña" class="lbl-text">Repetir Contraseña</label>
                </div>

                <div class="submitRegistro">
                <button class="submitRegistro" type="submit"><a href="/">Registrarse</a></button>
                <p class="login"><a href="/login">¿Ya estás registrado? Inicia seción acá!</a></p>
                </div>
            </div>
        </form>
    </main>
<!-- SUSCRIPCION + FOOTER + COPIRIGHT-->
<%- include('./partials/footer.ejs')  %>