:root {
    --dark-blue: #2B42D6;
    --blue_1: #2667FF;
    --blue_2: #3F8EFC;
    --blue_3: #87BFFF;
    --light_blue: #ADD7F6;
    --white: #FFFFFF;
    --font-family: 'Heebo', 'Roboto', sans-serif;
}
.productos{

    width: 100%;
}