@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%27');
:root {
    --dark-blue: #2B42D6;
    --blue_1: #2667FF;
    --blue_2: #3F8EFC;
    --blue_3: #87BFFF;
    --light_blue: #ADD7F6;
    --white: #FFFFFF;
    --gray: #9e9ea7;
}

body {
    font-family: 'Roboto', sans-serif;
}
header {
    position: fixed;
    z-index: 99;
}

main.cambiar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

h1 {
    text-align: center;
    font-weight: 700;
    margin: 0;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 30px;
}

form.form-cambiar {
    background: var(--gray);
    padding: 40px 0;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, 0.63);
    border-radius: 7px;
    border-top: 4px solid var(--blue_2);
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 20px 30px;
    color: var(--white);
    text-align: center
}

.div-form-cambiar {
    width: 100%;
    margin: auto;
}

form.form-cambiar div.group-cambiar {
    position: relative;
    margin: 45px;
}

input.input-text {
    background: none;
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--white);
}

input.input-text:focus {
    outline: none;
    color: var(--white);
}

label.lbl-text {
    font-size: 16px;
    position: absolute;
    color: var(--white);
    left: 5px;
    top: 10px;
    transition: 0.3s ease-in-out all;
    -webkit-transition: 0.3s ease-in-out all;
    -moz-transition: 0.3s ease-in-out all;
    -ms-transition: 0.3s ease-in-out all;
    -o-transition: 0.3s ease-in-out all;
    pointer-events: none;
}

input.input-text:focus~label.lbl-text,
input.input-text:valid~label.lbl-text {
    top: -14px;
    font-size: 12px;
    color: var(--white);
}

span.barra {
    position: relative;
    display: block;
    width: 100%;
}

div.group-cambiar {
    background: #2667FF;
    font-size: 20px;
}

div.group-image {
    background: var(--gray);
    font-size: 20px;
}
span.barra::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: var(--blue_1);
    transition: ease 0.03s widht;
    -webkit-transition: ease 0.03s widht;
    -moz-transition: ease 0.03s widht;
    -ms-transition: ease 0.03s widht;
    -o-transition: ease 0.03s widht;
    left: 0;
}

input.input-text:focus~span.barra::before{
    width: 100%;
}

button {
    width: 100%;
    height: 40px;
    background: var(--blue_2);
    border: none;
    color: var(--white);
    margin-bottom: 16px;
}

button a {
    text-decoration: none;
}

button a:visited {
    text-decoration: none;
    color: var(--white);
}

p.login {
    height: 40px;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid var(--white);
    text-decoration: none;
}

p.login a {
    color: var(--white);
    text-decoration: none;
    text-align: center;
}

p.login a:hover {
    text-decoration: underline;
}

/*================================ ERRORES =====================================*/
p.form-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

p.form-error-activo {
    display: block;
}

div.group-cambiar i.fa-solid {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    color: #ff0000;
    opacity: 0;
}


/*================================ VALIDACIONES =====================================*/
div.group-cambiar-false label.lbl-text {
    color: #ff0000;
} 

div.group-cambiar-false i {
    color: #ff0000;
    opacity: 1;
} 

/*================================ MEDIA QUERIS =====================================*/

/*================================ MEDIA QUERIS =====================================*/
/*============================== MEDIA TABLET =================================*/
@media (min-width: 760px) {

    h1 {
        text-align: center;
        font-weight: 700;
        margin: 0;
        height: 40px;
        font-size: 30px;
        display: flex;
        width: fit-content;
        margin-left: 40%;
    }

    .div-form-register {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 920px;
    }

    form.form-register {
        margin: 2vh 4vw;
        padding: 20px 0;
    }



}

